@import url("https://fonts.googleapis.com/css2?family=Chilanka&family=Bungee&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Bungee", cursive;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

h1 {
  text-align: center;
  font-size: 80px;
  padding: 10px;
  margin-top: 20px;
  color: #db0b0b;
}

#gameboard {
  box-sizing: content-box;
  background-color: #bab4ff;
  margin: 0px auto;
  width: 450px;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  border: 5px solid black;
  border-radius: 10px;
}

.cell {
  border: 5px solid black;
  font-size: 120px;
  text-align: center;
  line-height: 180px;
  cursor: pointer;
  font-family: "Chilanka", cursive;
  font-weight: 900;
}

#menu {
  text-align: center;
}

.inputPlayer {
  text-align: center;
  width: 200px;
  padding: 5px;
  margin: 30px 10px 0px 10px;
  border: 5px solid #cc9c2a;
  font-size: 30px;
  color: #cc9c2a;
}

#btnStart {
  background-color: rgb(76, 208, 76);
  color: white;
  margin-top: 30px;
  width: 140px;
  padding: 5px;
  border: 10px solid #2c792c;
  font-size: 30px;
  cursor: pointer;
}

#winnerDisplay {
  width: 350px;
  text-align: center;
  border: 10px solid #1c43dd;
  margin: 50px auto;
  font-size: 50px;
  color: #1c43dd;
  padding: 10px;
  box-shadow: 10px 10px #0d1d59;
}

.hidden {
  display: none;
}

input:focus {
  outline: none;
}
