@import url("https://fonts.googleapis.com/css2?family=Chilanka&family=Bungee&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Bungee", cursive;
}

h1 {
  text-align: center;
  font-size: 80px;
  padding: 10px;
  margin-top: 20px;
  color: #db0b0b;
}

#gameboard {
  box-sizing: content-box;
  background-color: #d5f9e1;
  margin: 0px auto;
  width: 450px;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  border: 5px solid black;
  border-radius: 10px;
}

.cell {
  border: 5px solid black;
  font-size: 120px;
  text-align: center;
  line-height: 180px;
  cursor: pointer;
  font-family: "Chilanka", cursive;
  font-weight: 900;
}

#menu {
  text-align: center;
}

.inputPlayer {
  text-align: center;
  width: 200px;
  padding: 5px;
  margin: 30px 10px 0px 10px;
  border: 5px solid #cc9c2a;
  font-size: 30px;
  color: #cc9c2a;
}

#btnStart {
  background-color: rgb(76, 208, 76);
  color: white;
  margin-top: 30px;
  width: 140px;
  padding: 5px;
  border: 5px solid #2c6f34;
  font-size: 30px;
  cursor: pointer;
}

#winnerDisplay {
  width: 350px;
  text-align: center;
  border: 10px solid #1c43dd;
  margin: 50px auto;
  font-size: 50px;
  color: #1c43dd;
  padding: 10px;
}

.hidden {
  display: none;
}
